.card {
  @apply w-full p-4;
}

.title {
  @apply text-2xl font-bold;
}

.description {
  @apply text-sm font-light leading-loose md:leading-relaxed  lg:text-base;
}
.description pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.audio {
  width: 100%;
}
