.main {
  position: relative;
  width: 100%;
}

.icon {
  @apply pl-3;
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.icon svg {
  @apply h-5 w-5 text-gray-500;
}

.input {
  @apply rounded-lg border border-gray-300 px-4 py-2 pl-10 text-lg text-gray-900;
  display: block;
  width: 100%;
}
